/* *-----------------------------------------footer  */
footer{
    padding-bottom: 50px !important;
}
.footer-logo-mobile {
    display: none;
  }
  .footer-details-mobile {
    display: none;
  }
  .footer-logo {
    display: block;
  }
  .socail-media {
    display: flex;
  }
  

@media screen and (max-width:768px) {
  footer {
    padding: 30px !important;
  }
  .footer-logo-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .footer-logo,
  .footer-details {
    display: none;
  }
  .footer-quote {
    justify-content: center;
    padding: 30px 0px;
  }
  .footer-quote svg {
    display: none;
  }
  .rights {
    font-size: 8px;
  }
  .quote img {
    width: 30px;
    height: 30px;
  }
  .footer-details-mobile {
    display: flex;
    flex-direction: column;
  }
  .footer-links {
    gap: 0px;
    justify-content: space-between;
  }
  .link-tag {
    font-size: 13px;
  }
  .d-btn {
    width: 100px;
  }
  .footer-btn {
    padding: 40px 0px;
  }
  .footer-socials {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .location-img {
    width: 50px;
  }
  .location-text {
    font-size: 11px;
  }
  .socail-media svg {
    height: 20px !important;
    width: 20px !important;
  }
}