/*MOBILE SECTION*/
.mobile-left-side {
  padding: 0;
  margin-left: 0px;
  margin-right: 3rem;
}

.mobile-left-side-1{
  height: 150px;
  width: 320px;
}

.mobile-left-side-2{
  height: 150px;
  width: 320px;
}

.mobile-right-side {
  padding: 0;
  margin-right: 0px;
  margin-left: 3rem;
}

.mobile-right-side-1{
  height: 150px;
  width: 320px;
}

.mobile-right-side-2{
  height: 170px;
  width: 340px;
}

.movile-display{
  background-image:url("./mobile-original.png");
  background-size: cover;
  z-index: 200;
  object-fit: cover;
}


.walk-bg img{
    width: 100vw;
}

.walk-bg{
    transform: translateY(50vh);
    z-index: 10;
}

.walk{
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 20;
}

.walk-lower{
    font-size: 60px;
    overflow: hidden;
}
.walk-upper{
    font-size: 16px;
    overflow: hidden;
}
.text-upper{
    transform: translateY(30px);
}
.text-lower{
    transform: translateY(150px);
}

.walk-video{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.walk-bg-2{
    width: 100vw;
    /* height: 100vh; */
}

.walk-bg-2 img{
    transform-origin: top center;
    scale: 2;
    width: 100vw;
}

.leaders-picture{
    display: flex;
    flex-direction: row;
    position: relative;
}

.pic{
    width: 0px;
    height: 220px;
    overflow: hidden;
    transform-origin: center center;
    z-index: 20;
}

.pic img{
    height: 220px;
    width: 220px;
}

.blue{
    width: 1px;
    height: 220px;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 0%;
    z-index: 10;
}

.feedback-right{
    /* transform: rotate(-2.763deg); */
    transform: rotate(-2.763deg) translateY(200px);
    margin-bottom: 50px;
}
.feedback-left{
    transform: rotate(-2.763deg) translateY(200px) ;
}

/* review  */

.paragraph{
    /* background-color: aqua; */
    padding: 10px 10px;
    overflow: hidden;
}

.para-text{
    transform: translateY(44px);
}

.mobile-feedback{
    display: none;
}

/* leaders  */

.leaders-mobile{
    display: none;
}
/* footer  */
.footer-logo-mobile{
    display: none;
}
.footer-details-mobile{
    display: none;
}
.footer-logo{
    display: block;
}
.socail-media{
    display: flex;
}

/* Responsive Styles */

@media screen and (max-width:768px) {
    .menu-bar-link {
        display: none; 
    }
  
    nav .nav-link {
        display: none;
    }
   
    .nav-icon {
        display: none;
    }
    
    .small-icons{
      display: flex !important;
    }
  
    .house-page{
      display: flex;
      flex-direction: column;
      margin: 1.25rem 0rem 1.25rem 0rem;
      justify-content: center;
      align-items: center;
    } 
   
     .content .moto{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 0rem;
      padding-top: 0rem;
     }
    .content .moto span{
      font-size: 0.75rem;
      display: flex;
      flex-direction: column !important;
      justify-content: space-between;
      align-items: center;
      color: #727272;
      font-weight: 700;
    }
  
  
    .content .moto span p{
       color: #A9A9A9;
       font-weight: 200;
    }
  
    .content img{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 3rem; 
    }

    .mobile-feautre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .mobile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .mobile-left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .movile-display{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

   .left-13{
       display: none !important;
    }
  
    .content .img-home-big{
        display: none;
    }
   .mortgage-big{
    display: none;
   } 
  
   .mortgage-small{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
   }
  
   .mortgage-small h1{
    color: #000 !important;
    line-height: 3.75rem !important;
   }
  
   .content .moto .home-page-button {
               
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0px;
            text-align: center;
            align-content: center;
            width: 50%;
            height: 50%;
   }
   .content >.moto >.home-page-button >button{
          height: 0.75rem !important;
          width: 70vw !important;
          border-radius: 0px;
          text-align: center;
          align-content: center;
   }
 
   .upper-slider {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height:100vh ;
   }
  
   .upper-slider .slider{
    width: 100%;
   }
   
   .mobile-feautre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
   }
   .mobile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90% !important;
    width: 100% !important;
    margin-top: 0 !important;
   }
   
   .paragraph{
     font-size: 0.75rem !important;
     width: 100% !important;
   }
   /*Left side*/
   .mobile-left-side{
    margin-top: 3rem !important;
    width: 100% !important;
    height: 30% !important;
    font-size: 0.75rem !important;
   }
   .mobile-left-side-1{
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    height: 50% !important;
    width: 100% !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.5rem !important;
   }
   .mobile-left-side-2{
    margin-top: 0rem;
    height: 50% !important;
    width: 100% !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.5rem !important;
   }

   .mls-1{
    display: flex !important;
    justify-content:center;
    align-items:center ;
   }
   
   /*Right side*/
   .mobile-right-side{
    margin-top: 3rem !important;
    margin: 0 !important;
    width: 100% !important;
    height: 30% !important;
   }
   .mobile-right-side-1{
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    height: 50% !important;
    width: 100% !important;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.5rem !important;
   }
   .mobile-right-side-2{
    margin: 0 !important;
    margin-top: 0rem;
    height: 50% !important;
    width: 100% !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.5rem !important;
   }
    
   /*Phone screen*/

   .movile-display .custom-background{
      width: 80% !important;
      height: 60vh !important;
     position: absolute !important;
     left: 1.4rem !important;
   }
   .movile-display{
    display: flex !important;
    height: 70vh !important;
    width: 60% !important;
    justify-content: center;
    align-items: center;
   }
   .logo-future{
     margin: 0 !important;
     position: none !important;
   }
   .logo-details-mobile{
    display: flex !important;
    width: 100% !important;
   }
    .paragraph{
        font-size: 0.75rem;
    }
   .h1-heading{
    margin-top: 0rem !important;
    height: 2vh;
    margin-bottom: 0rem !important;
    font-size: 1.75rem !important;
    width: 100% !important;
    font-weight: 500;
   }
    /** review  */
    .para-text{
        font-size: 12px;
    }
    .review-tittle{
        font-size: 30px;
    }
    .feedback-left, .feedback-right{
        display: none;
    }
    .mobile-feedback{
        display:block;
    }
    .feedback{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .feedback-top{
        font-size: 12px;
    }
    .feed-bottom{
        display: flex;
    }
    .author-img{
        width: 40px !important;
        height: 40px !important;
    }
    .user-name{
        font-size: 14px;
        padding: 10px;
    }
    .leaders{
        display:none;
    }
    .leaders-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        min-height: 100vh;
        min-width: 100vw;
    }
    .leaders-top{
        text-align: center;
    }
    .leader-text{
        font-size: 30px;
        padding: 10px;
    }
    .item-img{
        height: 60px;
        border-radius: 5px;
    }
    .leader-list{
        display: flex;
        flex-direction: column;
    }
    .list-item{
        display: flex;
        flex-direction: row;
        padding: 10px 0px;
    }
    .item-detail{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* footer */

    footer{
        padding: 30px;
    }
    .footer-logo-mobile{
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .footer-logo, .footer-details{
        display: none;
    }
    .footer-quote{
        justify-content: center;
        padding: 30px 0px;
    }
    .footer-quote svg{
        display: none;
    }
    .rights{
        font-size: 8px;
    }
    .quote img{
        width: 30px;
        height: 30px;
    }
    .footer-details-mobile{
        display: flex;
        flex-direction: column;
    }
    .footer-links{
        gap: 0px;
        justify-content: space-between;
    }
    .link-tag{
        font-size: 13px;
    }
    .d-btn{
       width: 100px;
    }
    .footer-btn{
        padding: 40px 0px;
    }
    .footer-socials{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .location-img{
        width: 50px;
    }
    .location-text{
        font-size: 11px;
    }
    .socail-media svg{
        height: 20px !important;
        width: 20px !important;
    }
}