@media screen and (max-width: 768px){
    #menu-bar{
        display: none !important;
    }
    .main .menu-bar {
        display: none !important;
    }
    .menu-bar-link {
        display: none;
      }
    
      nav .nav-link {
        display: none;
      }
    
      .nav-icon {
        display: none;
      }
    
      .small-icons {
        display: flex !important;
      }

      .earth-rotation{
        margin-top: 5rem;
        width: 100% !important;
        height: 80vh !important;
      }

      .expert-span{
        font-size: 4.3rem !important;
      }
      .mortgage-expert{
        font-size: 4rem;
      }

      .licence-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .h5-heading{
        margin-top: 0 !important;
        font-size: 1.2rem  !important;
        width: 100% !important;
      }

      .company-licence{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%!important;
        margin-top: 3rem !important;
      }

      .company-name {
        font-size: 1.75rem !important;
        width: 100%!important;
      }
      .address {
        width: 100% !important;
      }
      .address p {
        display: flex !important;
        text-align: justify !important;
        font-size: 0.9rem !important;
        padding: 0.5rem;
      }

      .company-link {
        width: 100% !important;
      }

      .company-link p{
        display: flex !important;
        align-items: center !important;
        text-align: justify !important;
        font-size: 0.9rem !important;
      }
      .country-list{
        width: 100vh !important;
        padding: 2rem !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .country {
        width: 100% !important;
       font-size: 1.75rem !important;
      }

      .country .contry-details h2{
        width: 100% !important;
        font-size: 1.75rem !important;
      }

      .country .contry-details p{
        font-size: 0.75rem;
      }

       /* footer */

  footer {
    padding: 30px;
  }
  .footer-logo-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .footer-logo,
  .footer-details {
    display: none;
  }
  .footer-quote {
    justify-content: center;
    padding: 30px 0px;
  }
  .footer-quote svg {
    display: none;
  }
  .rights {
    font-size: 8px;
  }
  .quote img {
    width: 30px;
    height: 30px;
  }
  .footer-details-mobile {
    display: flex;
    flex-direction: column;
  }
  .footer-links {
    gap: 0px;
    justify-content: space-between;
  }
  .link-tag {
    font-size: 13px;
  }
  .d-btn {
    width: 100px;
  }
  .footer-btn {
    padding: 40px 0px;
  }
  .footer-socials {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .location-img {
    width: 50px;
  }
  .location-text {
    font-size: 11px;
  }
  .socail-media svg {
    height: 20px !important;
    width: 20px !important;
  }
}