@media screen and (max-width: 768px){
    

      .expert-span {
        padding: 1.4rem;
        font-size: 2.5rem !important;
      }
      .mortgage-expert p {
        font-size: 2.75rem;
        letter-spacing: normal;
      }
      .menfesto-rect p{
        font-size: 1.75rem;
        width: 100% !important;
        text-align: center;
      }
     
      .menfesto-circle{
        width: 100vw !important;
      }
     
}